@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
/******************************************************************
Site Name: Ahmad Taleb
Description: Drew up and coded a design for my personal site. If your reading this I assume you're probably more than an average web user. Just know the site's a work in progress, so before you look on in utter disgust at my code, just know it's still being worked on. 
But welcome to my personal site! I've used Bootstrap to help out with building it and a some jQuery to build some of the other stuff. Look around and tell me what you think.
Author: Ahmad Taleb
Author URI: http://www.ahmadtaleb.com
******************************************************************/
/*-----NAVIGATION STYLES-----*/
.navigation {
  font-weight: 300;
  text-transform: uppercase; }

/*-----INTRO STYLES-----*/
* {
  font-family: 'Oswald', sans-serif; }

.intro {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background: url(../img/iback.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .intro .intro_cont {
    margin-top: 100px;
    text-align: center; }
    .intro .intro_cont .my_mug {
      border-radius: 200px;
      height: auto;
      width: 250px;
      max-width: 45%;
      margin-bottom: 20px; }
    .intro .intro_cont .social_links {
      margin-bottom: 20px; }
      .intro .intro_cont .social_links a {
        text-decoration: none;
        margin: 0 10px; }
        .intro .intro_cont .social_links a img {
          max-width: 25%; }
    .intro .intro_cont .intro_text {
      background: rgba(250, 245, 249, 0.6);
      text-align: justify;
      padding: .5em;
      margin: 0 auto 20px auto;
      border-radius: 5px;
      max-width: 550px; }
      .intro .intro_cont .intro_text p {
        margin-bottom: 0;
        font-family: 'Open Sans', sans-serif; }

/*-----BLOG STYLES-----*/
.blog {
  background: #3498db; }
  .blog .post {
    background: white;
    margin: 10px 0; }
    .blog .post img {
      height: 400px;
      padding: 0; }
    .blog .post .blog_text {
      background: blue; }

/*-----PORTFOLIO CSS-----*/
#portfolio {
  width: 100%;
  padding-top: 20px;
  background: #e74c3c;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 20px; }
  #portfolio .isotope .element-item {
    width: 300px;
    height: 300px; }
    #portfolio .isotope .element-item img {
      width: 300px;
      height: 300px; }
  #portfolio .filtering {
    text-align: center; }
    #portfolio .filtering ul {
      padding-left: 0; }
      #portfolio .filtering ul li {
        display: inline-block; }
        #portfolio .filtering ul li .btn {
          border-radius: 250px;
          font-size: 25px;
          height: 100px;
          width: 100px;
          text-align: center;
          line-height: 80px;
          background-color: black;
          color: white;
          text-transform: uppercase;
          font-weight: 300; }
  #portfolio .portfolio_main article {
    vertical-align: top;
    width: 31.33%; }
    #portfolio .portfolio_main article .item {
      width: 100%;
      margin: 0 0 20px;
      display: inline-block;
      position: relative; }
      #portfolio .portfolio_main article .item:hover .hover {
        opacity: 1;
        display: block;
        /* IE8 */ }
      #portfolio .portfolio_main article .item .hover {
        color: #FFF;
        font-size: 28px;
        font-weight: 600;
        text-transform: uppercase;
        width: 100%;
        height: 100%;
        background: rgba(250, 245, 249, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        display: none\9;
        /* IE8 */ }
        #portfolio .portfolio_main article .item .hover span {
          margin: -14px 0 0 -92px;
          position: absolute;
          top: 50%;
          left: 50%; }
      #portfolio .portfolio_main article .item img {
        width: 100%;
        height: auto; }

/*ISOTOPE STYLES*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* clear fix */
.isotope:after {
  content: '';
  display: block;
  clear: both; }

/* ---- .element-item ---- */
.element-item {
  position: relative;
  float: left;
  margin: 5px; }
  .element-item img {
    border-radius: 5px; }

.element-item > * {
  margin: 0;
  padding: 0; }

/*-----CLOSING STYLES-----*/
.closing {
  text-transform: uppercase;
  text-align: center;
  background: #bdc3c7;
  padding: 20px 0; }
  .closing h1, .closing h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700; }
  .closing h1 {
    color: #e74c3c;
    font-size: 50px;
    margin: 0; }
  .closing h3 {
    color: #3498db;
    font-size: 30px;
    max-width: 75%;
    margin: 0 auto; }
  .closing form {
    margin: 10px 0; }

.footer {
  background: #34495e;
  text-align: center;
  padding: 20px; }
  .footer h5 {
    margin: 0;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1em; }

/*-----PORTFOLIO SECTION MEDIA QUERY CSS-----*/
@media only screen and (max-width: 960px) {
  /*-----portfolio CSS-----*/
  #portfolio .portfolio_main article {
    width: 30%; } }
@media only screen and (max-width: 768px) {
  /*-----portfolio CSS-----*/
  #portfolio .portfolio_main article {
    width: 48%; } }
@media only screen and (max-width: 640px) {
  .contact h3 {
    max-width: 100%; } }
@media only screen and (max-width: 480px) {
  .contact h3 {
    max-width: 100%; } }
@media only screen and (max-width: 400px) {
  /*-----portfolio CSS-----*/
  #portfolio .portfolio_main article {
    width: 100%; } }
